.header-container{
    display: flex;
}
.header-image{
    width: 100%;
    height: 400px;
    background-image: url('https://m.media-amazon.com/images/I/71rbfOOcnnL._SX3000_.jpg');
    background-size: cover;
}